<div class="hello">

    <h2 class="mb-4 text-4xl font-extrabold text-gray-900 py-5" >{{msg}}</h2>

    <button 
        type="button" 
        class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" 
        data-bs-toggle="modal" 
        data-bs-target="#exampleModal">
        Add New Product
    </button>
      
    <div class="flex justify-center my-20">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg w-3/4 text-center">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Product name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Quantity
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Category
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Price
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Edit / Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <li v-for="(item, index) in characters" :key="index">
                        <a :href="item.url">{{ item.name }}</a> -->

                    <tr v-for="(product, index) in products" :key="index" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{product.name}}
                        </th>
                        <td class="py-4 px-6">
                            {{product.quantity}}
                        </td>
                        <td class="py-4 px-6">
                            {{product.category}}
                        </td>
                        <td class="py-4 px-6">
                            ${{product.price}}
                        </td>
                        <td class="py-4 px-6">
                            <div class="flex justify-center" >
                                <button 
                                    class="focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-2 mr-2 mb-2"
                                     >
                                    Edit
                                </button>
                                <button 
                                    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-2 mr-2 mb-2"
                                    @click="deleteProduct(product.id)" >
                                    Delete
                                </button>
                            </div>
                            <!-- <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a> -->
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog relative w-auto pointer-events-none">
            <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                <div
                    class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                    <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">New Product</h5>
                    <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body relative p-4">
                    <div class="block p-6 rounded-lg shadow-md bg-white">
                        <form >
                            <div class="form-group mb-6">
                                <input 
                                    type="text" 
                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                                    id="exampleInput123"
                                    aria-describedby="emailHelp123" 
                                    placeholder="Name Product"
                                    v-model="newProductName">
                            </div>
                            <div class="form-group mb-6">
                              <input 
                                type="text" 
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                                id="exampleInput124"
                                aria-describedby="emailHelp124" 
                                placeholder="Quantity Product"
                                v-model="newProductQuantity">
                            </div>
                            <div class="form-group mb-6">
                                <input 
                                    type="text" 
                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                                    id="exampleInput125"
                                    placeholder="Category Product"
                                    v-model="newProductCategory">
                            </div>
                            <div class="form-group mb-6">
                                <input 
                                    type="text" 
                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
                                    id="exampleInput126"
                                    placeholder="Price Product"
                                    v-model="newProductPrice">
                            </div>
                        </form>
                    </div>
                </div>
                <div
                    class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                    <button 
                        type="button" 
                        class="px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" 
                        data-bs-dismiss="modal">
                        Close
                    </button>
                    <button 
                        type="button" 
                        class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
                        @click="addProduct">
                        Save New Product
                    </button>
                </div>
            </div>
        </div>
    </div>

    
   
</div>